[Unit]
Description=rne dashboard
After=network.target
ConditionPathExists=/mnt/media

[Service]
Type=simple
ExecStart=__RNE_DASHBOARD_BIN__
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
